window {
        background-color: rgba (0, 0, 0, 0.65);
	border-radius: 20px;
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	border-radius: 20px;
	background-color: rgb(136, 57, 239);
	border: 20px;
	opacity: 0.65
}

/* Inner bar container, surrounds buttons */
#inner-box {
/*	background-color: rgba (0, 0, 0,0.65);*/
/*	background-color: #8839ef; */
	border-radius: 20px;
	border-style: none;
	border-width: 1px;
	border-color: rgba (156, 142, 122, 0.7);
	padding: 0;
	margin: 0;
}

button, image {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 20px;
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px;
	border-radius: 20px;
}

button:hover {
	background-color: rgba (255, 255, 255, 0.1)
}
